<<<<<<< HEAD
@import './config.less';
=======
@layout-header-background: #22c25e;
>>>>>>> 框架设计基本完毕,等待二次开发
/*     
{
  xs                     : '480px',
  sm                     : '576px',
  md                     : '768px',
  lg                     : '992px',
  xl                     : '1200px',
  xxl                    : '1600px'
}
 */


.layout {
  border       : 1px solid #d7dde4;
  background   : #f5f7f9;
  position     : relative;
  border-radius: 4px;
  overflow     : hidden;
}

html {
  font-size: 62.5%;
}

.yellow {
  background: yellow;
}

.red {
  background: red;
}

.pink {
  background: pink;
}

.blue {
  background: blue;
}

.color-red {
  color: red;
}

.flex {
  display : flex;
  overflow: hidden;
}

.flex-1 {
  flex    : 1;
  display : flex;
  overflow: hidden;
}

.flex-2 {
  flex    : 2;
  display : flex;
  overflow: hidden;
}

.flex-3 {
  flex    : 3;
  display : flex;
  overflow: hidden;
}

.flex-4 {
  flex    : 4;
  display : flex;
  overflow: hidden;
}

.flex-5 {
  flex    : 5;
  display : flex;
  overflow: hidden;
}

.flex-6 {
  flex    : 6;
  display : flex;
  overflow: hidden;
}

.flex-7 {
  flex    : 7;
  display : flex;
  overflow: hidden;
}

.flex-8 {
  flex   : 8;
  display: flex;
}

.w100p {
  width: 100%;
}

.w50p {
  width: 50%;
}

.h100p {
  height: 100%;
}

.h50p {
  height: 50%;
}


.h100 {
  height: 100px;
}

.h300 {
  height: 300px;
}

.h500 {
  height: 500px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

<<<<<<< HEAD
.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

=======
>>>>>>> 框架设计基本完毕,等待二次开发
.mt40 {
  margin-top: 40px;
}

<<<<<<< HEAD




=======
>>>>>>> 框架设计基本完毕,等待二次开发
.ml5 {
  margin-left: 5px;
}

<<<<<<< HEAD
.ml10 {
  margin-left: 10px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

=======
>>>>>>> 框架设计基本完毕,等待二次开发
.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.col {
  display       : flex;
  flex-direction: column;
}

<<<<<<< HEAD
.start{
  display: flex;
  justify-content: start;
}

=======
>>>>>>> 框架设计基本完毕,等待二次开发
.text-left {
  text-align: left !important;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz22 {
  font-size: 22px;
}

.fz24 {
  font-size: 24px;
}

.fw500 {
  font-weight: 500;
}

.ivu-poptip-rel {
  font-size: 14px;
  color    : #fff !important;
}

.sb {
  display        : flex;
  justify-content: space-between;
<<<<<<< HEAD
}

.ken-card {
  border-radius: @card-border-radius;
}

.text-center{
  text-align: center !important;
=======
>>>>>>> 框架设计基本完毕,等待二次开发
}