@layout-header-background : #22c25e;


//header的默认高
@header-height : 56px;


//首页左右各占多少分
@home-left-flex :7;
@home-right-flex: 3;

//卡片的圆角
@card-border-radius:6px;

@img-logo-height: 40px;
@img-logo-height-mobile: 30px;
/*     
{
  xs            : '480px',
  sm            : '576px',
  md            : '768px',
  lg            : '992px',
  xl            : '1200px',
  xxl           : '1600px'
}
 */

@main-laptop           : 1168px; //适应高度
@main-laptop-min-width : 1168px; //调整适应笔记本端的最小值
@main-laptop-max-width : 1980px; //调整适应笔记本端的最大宽度

@main-mobile-max-width : 480px; //调整适应手机端的最大宽度